// Specific CSS for your home-page
.banner {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .home-card {
//   display: flex;
//   flex-direction: column;
// }

.pr-2 {
  padding-right: 2vh;
}

.mb-2 {
  margin-bottom: 2vh;
}

.mr-1 {
  margin-right: 1vh;
}

.search-btn {
  background-color: #20af5f;
  border-radius: 0 8px 8px 0;
  color: white;
}

.sup-header {
  background-color: #292a761a;
  padding: 4vh;
}

.dash-card:hover {
  background-color: #20af5e5b;
  text-decoration: none;
  color: white !important;
}

.company-card {
  background-color: #20af5e1f;
  padding-top: 2vh;
  height: fit-content;
}

.category-scroll {
  max-height: 50vh;
  overflow: scroll;
  list-style: none;

  li:hover {
    background-color: rgba(128, 128, 128, 0.275);
  }
}
