// Import page-specific CSS files here.
@import "home";


.search-card {
  display: flex;
  padding-bottom: .75rem;
  padding-top: .75rem;
  border-bottom: 1px #20af5e1f solid;
}

.search-card-body {
  width: 100%;
  align-self: center;
  padding: 0 12px 0 12px;
}

.search-card-img {
  height: 30vh;
  max-height: 30vh;
  width: auto;
}
