<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Encuentra <strong>todo</strong> lo que necesitas para tu <strong>empresa</strong>!</h1>
    <%# <a class="btn btn-flat" href="#">Buscar productos</a> %>
  </div>
</div>
<%= link_to 'all suppliers', suppliers_path %>
<div>
  <h3>Proovedores de productos</h3>
  <div class="row">
    <% @categories.each do |c| %>
      <div class="col-lg-3 col-sm-6">
        <div>
          <div class="card-body">
            <h5 class="card-title"><%= c.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
