<h1>Todos nuestros proveedores</h1>
  <div class="row">
    <% @suppliers.each do |s| %>
      <div class="col-lg-3 col-sm-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://acsaportones.com/wp-content/uploads/2015/11/default-placeholder-300x300.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= s.company %></h5>
            <p class="card-text">Aqui va la descripcion de cada empresa.</p>
             <%= link_to 'mas informacion', supplier_path(s), class:'btn btn-primary w-100' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
